<div class="sidebar">
  <div class="logo-container">
    <img src="assets/4.png" alt="VICS Logo" class="logo" />
  </div>

  <nav class="menu">
    <a
      routerLink="/admin/dashboard"
      routerLinkActive="active"
      class="menu-item"
    >
      <i class="fas fa-chart-pie"></i> Overview
    </a>
    <a
      routerLink="/admin/visitor-logbook"
      routerLinkActive="active"
      class="menu-item"
    >
      <i class="fas fa-book"></i> Visitor's Logbook
    </a>
    <a (click)="logout()" class="menu-item logout">
      <i class="fas fa-sign-out-alt"></i> Logout
    </a>
  </nav>
</div>
