<div class="toast-container">
  <div *ngFor="let message of messages" class="toast-message" [ngClass]="getToastClass(message.type)">
    <div class="toast-header">
      <i [class]="getIconClass(message.type)"></i>
      <strong class="toast-title">
        {{ message.type === 'error' ? 'Error' : message.type === 'warning' ? 'Warning' : 'Information' }}
      </strong>
      <button type="button" class="toast-close" (click)="dismissMessage(message)">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="toast-body">
      <p>{{ message.message }}</p>
      <p *ngIf="message.details" class="toast-details">{{ message.details }}</p>
    </div>
  </div>
</div>
